* {
    margin: 0;
    padding: 0;
}

body{
    background-color: hsl(30, 54%, 90%);
    font-family: 'Outfit', sans-serif;
}

p{
    font-size: 16px;

    color: hsl(30, 10%, 34%);

}

.menu-box{

    width: 720px;
    height: fit-content;
    padding: 24px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    border-radius: 20px;
}

.food_Image img{
    width: 100%;
    object-fit: contain;
    border-radius: 20px;
}

h1{
    font-family: 'Young Serif', sans-serif;
    font-weight: 400;
    color: hsl(24, 5%, 18%);
    padding:20px 0px;
}

.small_Desc{
    padding-bottom:20px;
}
