* {
    margin: 0;
    padding: 0;
}

body{
    background-color: hsl(30, 54%, 90%);
    font-family: 'Outfit family', sans-serif;
}

p{
    font-size: 16px;

    color: hsl(30, 10%, 34%);

}

.menu-box{

    width: 720px;
    height: fit-content;
    padding: 24px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    border-radius: 20px;
}

.food_Image img{
    width: 100%;
    object-fit: contain;
    border-radius: 20px;
}

h1{
    font-family: 'Young Serif', sans-serif;
    font-weight: 400;
    color: hsl(24, 5%, 18%);
    padding:20px 0px;
}

h2 {
    font-family: 'Young Serif', sans-serif;
    font-weight: 400;
    color: hsl(14, 45%, 36%);
}

h3{
    color: hsl(332, 51%, 32%);
    font-weight: bold;

}

.bolden {
    color: hsl(24, 5%, 18%);
    font-weight: 700;
}

.small_Desc{
    padding-bottom: 20px;
}

.prep_Time{

    background-color: hsl(330, 100%, 98%);
    border-radius: 20px;
    padding: 20px 0px 20px 20px;

}

.prep_Time li{
    padding-top: 20px;
    font-size: 16px;
    color: hsl(30, 10%, 34%);
}

.Ingredients_Header {
    padding: 20px 0px 10px 0px;
}
.Ingredients_List{
    padding-bottom: 20px;
}
.Ingredients_List li{
    padding-top: 20px;

    color: hsl(30, 10%, 34%);
}

.border_line {
    border: 1px solid hsl(30, 18%, 87%);
    margin: 0px 10px;
}
